<a href="https://colab.research.google.com/github/HyoenminPark/study/blob/main/string.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
s = 'abcdef'
print(s[0], s[5], s[-1], s[-6])
print(s[1:3], s[1:], s[:3], s[:])

<class 'str'>
a f f a
bc bcdef abc abcdef

In [ ]:
s='abcdef'
s=list(s)
print(s)

['a', 'b', 'c', 'd', 'e', 'f']

In [ ]:
s='abcdef'
s[6]

IndexError: ignored

string - chracter의 조합
a = 'abcdef' 
print (a[0]), a[5], a[-1], a[-6]
a f f a

a = 'abcdef'
a[1:3]
'bc' (1부터 3전까지]
a[1:] - 1부터 끝까지
a[:3] - 처음부터 3 전까지
a[:] - 처음부터 끝까지

In [ ]:
n = [100, 200, 300]
print(n[0], n[2], n[-1], n[-3])
print(n[1:2], n[1:], n[:2], n[:])

100 300 300 100
[200] [200, 300] [100, 200] [100, 200, 300]

In [ ]:
len(n)

3

In [ ]:
len(s)

6

s의 length
len(s)

In [ ]:
s[1]+s[3]+s[4:]*10

'bdefefefefefefefefefef'

In [ ]:
s.upper() 
s=s.upper()
s

'ABCDEF'

In [ ]:
s.upper()

'ABCDEF'

s. upper( ) - 대문자
but upper한다고 해서 s 자체가 바꾸지 않음
바꾸려면 
s. upper ( ) 
s= s. upper ( ) 
s
'ABCDEF'

In [2]:
s = ' this is a house built this year.\nyes' 	
print(s)

 this is a house built this year.
yes

In [ ]:
s='love' ＼n ist
print(s)

SyntaxError: ignored

역 슬라이스n -> 새로운 줄

In [ ]:
result = s.find('house') 	    # index of first instance of string t inside s (-1 if not found)
result

11

   샵 => comment (실행X)

In [ ]:
result = s.find('this')	    # index of last instance of string t inside s (-1 if not found)
result

1

In [ ]:
result = s.find('that')	    # index of last instance of string t inside s (-1 if not found)
result

-1

In [ ]:
result = s.rindex('this')        # like s.find(t) except it raises ValueError if not found
result

23

rindex는 거꾸로 뒤에서부터 세었을 때 몇번째냐에 관한 것

In [ ]:
s = s.strip()      	            # a copy of s without leading or trailing whitespace
s

'this is a house built this year.'

strip - 줄바꿈, tap, 공백trip - 줄바꿈, tap, 공백 같은 것을 제거함
'this is a house built this year.' 같은 것을 제거함
'this is a house built this year.'로 다시 assign

In [ ]:
tokens = s.split(' ')	        # split s into a list wherever a t is found (whitespace by default)
tokens

['this', 'is', 'a', 'house', 'built', 'this', 'year.']

In [ ]:
tokens = s.split('t')	        # split s into a list wherever a t is found (whitespace by default)
tokens

['', 'his is a house buil', ' ', 'his year.']

tokens = s. split(' ') -> 공백 단위로 다 끊고 리스트로 만들어라
tokens 
['this', 'is', 'a', 'house', 'built', 'this', 'year;]

In [ ]:
s = ' '.join(tokens)	        # combine the words of the text into a string using s as the glue
s

'this is a house built this year.'

s = ' '. join(tokens)(gluing을 해라! 다시 합쳐라!)
s
'this is a house built this year'

In [ ]:
s = s.replace('this', 'that')   # replace instances of t with u inside s
s

'that is a house built that year.'

s = s.replace('this', 'that') (this->that)
s
'that is a house built that year.'