<a href="https://colab.research.google.com/github/HyoenminPark/study/blob/main/Untitled3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
a=[1,2,3,4]
for i in a:
  print(i)

1
2
3
4

a가 여러개 있을 때 i에다가 하나씩 가져다 넣어서 repeat 
for 루프 
in 다음에 list가 올 경우

in 다음에 range(3)
0 1 2 

in 뒤에 내용은 i에 assign

In [6]:
for i in range(5):
  print(i)

0
1
2
3
4

In [ ]:
a = [1, 2, 3, 4]
for i in range(1,4, 2):
    print(a[i])

2
4

In [8]:
a = [1, 2, 3, 4]
for i in range(1,4, 3):
    print(a[i])

2

range (0,4)
0부터 4 전까지 숫자를 만들어라 
range (0,4,2)
0부터 4 전까지 수 중에 2칸을 띄워라라

제어문은 for/if 두 가지


for _________ in __________:

(tab) print ~~

for - 반복
for i in range(3):
  print(i)
list가 없는 경우 range는 자연히 숫자로 정해짐.

In [ ]:
a = [1, 2, 3, 4]
for i in range(len(a)):
    print(a[i])

1
2
3
4

In [7]:
a=[1,2,3,4]
for i in range(4):
  print(a[i])

1
2
3
4

In [ ]:
a = ['red', 'green', 'blue', 'purple']
for i in a:
    print(i)

red
green
blue
purple

In [ ]:
a = ['red', 'green', 'blue', 'purple']
for i in range(len(a)):
    print(a[i])

red
green
blue
purple

In [ ]:
a = ["red", "green", "blue", "purple"]
b = [0.2, 0.3, 0.1, 0.4]
for i, a_ in enumerate(a):
    print("{}: {}%".format(a_, b[i]*100))

red: 20.0%
green: 30.0%
blue: 10.0%
purple: 40.0%

In [ ]:
a = ["red", "green", "blue", "purple"]
b = [0.2, 0.3, 0.1, 0.4]
for a_, b_ in zip(a, b):
    print("{}: {}%".format(a_, b_*100))

red: 20.0%
green: 30.0%
blue: 10.0%
purple: 40.0%

In [9]:
a = 0
if a == 1:
    print(a)
else:
    print(a+1)

1

In [10]:
a=1
if a==0:
  print(a)

roop - for 
condition - if 
if _______:
(Tap)___________
+else:
  ____________

  = assign == equal

In [ ]:
for i in range(1, 3):
    for j in range(3, 5):
        print(i*j)

3
4
6
8

for이 두번 나오면 밖에 for부터 읽기
for 루프가 n번 돌아감 .
n번 돌아간 for 루프가 또다시 k번 돌아감 .
roop가 몇번 실행되는가? 총 4번 실행 2개, 2개씩이니까까

In [ ]:
for i in range(1, 3):
    for j in range(3, 5):
        if j >=4:
            print(i*j)

4
8

In [ ]:
a = [1, 2, 3, 4]
b = [i for i in a if i >=2]
b

[2, 3, 4]

왜 list 안에 for가 들어가 있지?

for i in [1,2,3,4] if i>2
i를 가지고 b를 만들어라 

for loop를 가지고 list를 만듦

b는 list 
for i in [1, 2, 3, 4]
  if i>=2
  [2, 3, 4]

In [ ]:
a = ['red', 'green', 'blue', 'purple']
b = [i for i in a if len(i) >=4]
b

['green', 'blue', 'purple']

b=[i] / for i in a: if len(i)>=4