<a href="https://colab.research.google.com/github/HyoenminPark/study/blob/main/variables.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
a = 1; print(type(a))

<class 'int'>

In [ ]:
a = 1; a = float(a); print(type(a))

<class 'float'>

마지막 변수만 나오기 때문에 print를 써야 함.
;(세미콜론) 사용하면 한 줄로 코드 작성 가능.
# 변수의 type 
a=1 
print(type(a)) 
<class 'int'> - 숫자 중 정수다 
a= 1.22 면? 
<class 'float'> - 숫자 중 소수다

In [ ]:
a = 1.2; a = int(a); print(type(a))

<class 'int'>

a=1; a = float(a); print(type(a)); print(a)
1을 소수로 바꾸면 1.0 / 타입과 print 
<class 'float'> 1.0 

a=1.2; a=int(a); print(type(a)); print(a)
<class 'int'> 1(반올림)

In [ ]:
a = '123'; print(type(a)); print(a[1])

<class 'str'>
2

quote, double quote: string(문자)
문자를 쓸 때는 quote 필요

In [ ]:
a = '123'; a = list(a); print(type(a)); print(a); print(a[2])

<class 'list'>
['1', '2', '3']
3

In [ ]:
a='love'
a=list(a)
print(a)
print(type(a))
print(a[1])

['l', 'o', 'v', 'e']
<class 'list'>
o

In [ ]:
a={'a':'apple', 'b':'orange'}
print(type(a))
print(a['b'])

<class 'dict'>
orange

In [ ]:
a={'a':'apple', 'b':'orange'}
print(a['a'])

apple

index : a='korea'; a[0] 
'k' (숫자열 몇 번째인지! 첫번째는 0부터 시작)

In [ ]:
a = [1,'2', [3, '4']]; print(type(a)); print(a[0]); print(a[1]); print(a[2][1])

<class 'list'>
1
2
4

a='123'; a=list(a); a 
['1', '2', '3'] -> a를 하나하나 쪼갬 

a='123'; print(type(a)); a= list(a); print(type(a))
<class 'str'> <class 'list'>

list -> a = [1, 'cde', 4] 섞여있어도 listing만 되면 상관 X
list 속에 list가 들어올 수도 있음

In [ ]:
a = (1,'2', [3, '4']); print(type(a)); print(a[0]); print(a[1]); print(a[2])

<class 'tuple'>
1
2
[3, '4']

tuple과 list는 거의 동일
a = [1, 2, 3] -> list
a = (1, 2, 3) -> tuple
a = [1, 2, 3]
a[0] = -1 
a
[-1, 2, 3] 

a = (1, 2, 3)
a[0] = -1 
a
error
tuple - object does not support item assignment
(변수를 바꿀 수 없음 so 좀 더 안전)

In [ ]:
a=[1,2,3]
a[1]=44
print(a)

[1, 44, 3]

In [ ]:
a=(1,2,3)
a[1]=343
print(a)

TypeError: ignored

In [ ]:
a =	{"a": "apple", "b": "orange", "c": 2014}
print(type(a))
print(a["a"])

<class 'dict'>
apple

a = {"a": "apple", "b": "orange", "c": 2014} 

print(type(a))
<class 'dict'>
dict에서 access할 때
a = {"a": "apple", "b": "orange", "c": 2014} 
a["c"]
2014

a = {'a': 'apple', 'b' : orange', 'c' : 2014}
a['c'] = 2021
a
{'a': 'apple', 'b': 'orange', 'c': 2021}

dic은 named되어 있기 때문에 순서를 따지지 X

In [1]:
a=[(1,2,3), (3,8,0)]
print(type(a))
print(type(a[1]))

<class 'list'>
<class 'tuple'>

In [ ]:
a=2.0
a=int(a)
print(type(a))
print(a)

<class 'int'>
2